.Title {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    gap: 10px; /* Espacio entre el título y el icono */
  }
  
.TitleContainer > p {
    font-size: 13px;
    font-weight: 500;
    color: #989595;
    margin-top: 1%;
    margin-bottom: -1.5%;
} 

  .Title h3 {
    margin: 0; /* Eliminar margen del h3 */
  }
  
  .Title span {
    border-radius: 5px;
    display: flex;
    align-items: center; /* Asegurar que el icono esté centrado dentro del span */
    font-size: 22px;
  }