.containerRight {
    background: linear-gradient(
        106.37deg,
        #ffe1bc 29.63%,
        #ffcfd1 51.55%,
        #f3c6f1 90.85%
      );
      font-family: "Inter", sans-serif;
    width: 100%;

}


.formCarritoRight {
    position: relative;
    overflow: scroll;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    top: 8%;
    margin-left: 0;
    overflow: hidden;
    background-color: var(--glass);
    height: 100%;
    padding: 20px;
}

/* Estilo para la barra de scroll completa */
.formCarritoRight::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de scroll */
    height: 12px; /* Altura de la barra de scroll horizontal */
}

/* Estilo para el track de la barra de scroll */
.formCarritoRight::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
}

/* Estilo para el thumb (la parte que se desplaza) de la barra de scroll */
.formCarritoRight::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb */
    border-radius: 6px; /* Bordes redondeados del thumb */
}

/* Estilo para el thumb cuando está en estado hover */
.formCarritoRight::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb al pasar el cursor */
}

.btnAgregarRight {
    position: fixed;
    border: none;
    font-family: 'Inter';
    font-weight: 500;
    color: #FFF;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
    background-color: #648291;
    height: 7%;
    top: 93%;
    transition: all 300ms ease;
    cursor: pointer;
}

.btnAgregarRight.vw30{
    width: 30%;
}

.btnAgregarRight.vw40{
    width: 40%;
}