.InicioContainer {
    /*display: grid;
    grid-template-columns: auto 20rem;
    gap: 10px;*/
}

.Inicio {
    /*display: flex;
    flex-direction: column;
    justify-content: space-evenly;*/
}

@media screen and (max-width: 1276px) {
    .Inicio {
        justify-content: flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .Inicio {
        align-items: center;
    }
}