.itemTemplateWrapper * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 14px;
    color: var(--dark-color);
}

:root {
    --blue-color: #2f4858;
    --dark-color: #535B61;
    --white-color: #FFF;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 2px 0;
}

/* text colors */
.textDark {
    color: var(--dark-color)
}

.textBlue {
    color: var(--blue-color)
}

.textEnd {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.textStart {
    text-align: left;
}

.textBold {
    font-weight: 700;
}

.hr {
    height: 1px;
    background-color: rgba(0,0,0,0.1);
}

/* borderBottom */

.borderBottom {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.itemTemplateWrapper {
    min-height: 100vh;
    background-color: #FFF1E0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.itemTemplate {

    margin-right: auto;
    margin-left: auto;
    background-color: var(--white-color);
    padding: 70px;
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 5px;
    min-height: 920px;
}

.itemTemplateHeadTopLeft {
    display: flex;
}

.itemTemplateHeadTopLeft h3 {
    font-size: 20px;
    color:#3f6970;
    margin-top: 4%;
    margin-left: 1%;
}

.itemTemplateHeadTopLeft img{
    width: 90px;
}

.itemTemplateHeadTopRight h3 {
    font-weight: 500;
    font-size: 27px;
    color: var(--blue-color);
}

.itemTemplateHeadMiddle, .itemTemplateHeadBottom {
    padding: 16px 0;
}

.itemTemplateBody {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    overflow: hidden;
}

.itemTemplateBody table {
    border-collapse: collapse;
    border-radius: 4px;
    width: 100%;
}

.itemTemplateBody table td,
.itemTemplateBody table th {
    padding: 12px;
}

.itemTemplateBody table tr {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.itemTemplateBody table thead {
    background-color: rgba(0,0,0,0.02);
}

.itemTemplateBodyInfoItem {
    display: grid;
    grid-template-columns: 80% 20%;
}

.itemTemplateBodyInfoItem .infoItemTd {
    padding: 12px;
    background: rgba(0,0,0,0.02);
}

.itemTemplateFoot {
    padding: 30px 0;
}

.itemTemplateFoot p {
    font-size: 12px;
}

.itemTemplateBtns {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.itemTemplateBtn {
    padding: 3px 9px;
    color: var(--dark-color);
    font-family: inherit;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}

.itemTemplateHeadTop,
.itemTemplateHeadMiddle,
.itemTemplateHeadBottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
    .itemTemplate {
        padding: 40px;
    }
}

@media screen and (max-width: 576px) {
    .itemTemplateHeadTop,
    .itemTemplateHeadMiddle,
    .itemTemplateHeadBottom {
        grid-template-columns: repeat(1, 1fr);
    }

    .itemTemplateHeadBottomRight {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .itemTemplate * {
        text-align: left;
    }

    .itemTemplate {
        padding: 28px;
    }
}

.overFlowView {
    overflow-x: scroll;
}

.itemTemplateBody {
    min-width: 600px;
}

@media print {

    .MuiAppBar-root {
        visibility: hidden;
    }

    .print-area {
        visibility: visible;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }

    .overFlowView {
        overflow-x: hidden;
    }

    .itemTemplateBtns {
        display: none;
    }
}