.MuiMenuItem-root {
    font-family: 'Inter' !important;
    font-size: 14px !important;
    transition: all 300ms ease; 
}


.MuiMenuItem-root:hover {
    color: #FF919D;
}

.MuiMenuItem-root:hover>* {
    color: #FF919D;
}

.dot {
    font-size: 7px;
    padding-right: 5px;
    color: #212B36;
}