.ListaOrdenes {
    padding-top: 1.5rem;
    display: grid;
    height: 450px;
    width: 100%;
    grid-template-columns: auto;
}

.ordenes {
    position: relative;
    overflow: scroll;
}

.ordenes::-webkit-scrollbar {
    display: none;
}
