.container {
    background: linear-gradient(
        106.37deg,
        #ffe1bc 29.63%,
        #ffcfd1 51.55%,
        #f3c6f1 90.85%
      );
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Inter", sans-serif;
}

.glass {
    display: grid;
    height: 97%;
    width: 97%;
    border-radius: 2rem;
    background-color: var(--glass);
    grid-template-areas: 
        "exit exit"
        "form products"
        "btnProducto btnLista"
    ;
    overflow: hidden;
    gap: 16px;
}

/* Boton de salida */
.exit {
    overflow: hidden;
    margin-left: 1rem;
    margin-top: 1rem;
}

/* FORMULARIO NUEVO PRODUCTO */
.formProducto{
   
}

.form {
    grid-area: form;
    overflow: scroll;
    border-radius: 15px;
    top: 3.5rem;
    height: 33rem;
    margin-left: 1rem;
    background: rgb(255, 255, 255);
    padding: 20px;
}

.textField, .customSelect, .customDate {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.textField label, .customSelect label {
    font-family: 'Inter';
    font-size: 13px;
    color: #364152;
    font-weight: 500;
}

.textField input, .customDate input {
    outline: none;
    background: #F8FAFC;
    border: 1px solid #AAA;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    padding: 0 15px;
    height: 42px;
}

.textField textarea {
    outline: none;
    background: #F8FAFC;
    border: 1px solid #AAA;
    border-radius: 5px;
    font-weight: 400;
    font-family: 'Inter';
    font-size: 14px;
    color: #333;
    padding: 10px 15px;
    resize: none;
}

.textField input:is(:focus), .textField textarea:is(:focus), .customSelect select:is(:focus){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.20);
    border:1px solid rgb(0, 0, 255);
}

.customSelect {
    position: relative;
}

.customSelect select {
    background: #F8FAFC;
    border: 1px solid #AAA;
    font-size: 14px;
    color: #757575;
    border: 1px solid #AAA;
    border-radius: 5px;
    padding: 1em 1.5em;
}

.customArrow {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 1.5rem;
    right: 0;
    display: block;
    background-color: #AAAAAA;
    height: 64.5%;
    width: 1rem;
}

.customArrow::before,
.customArrow::after {
    --size: 6px;

    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.customArrow::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid rgba(0, 0, 0, 0.5);
    top: 40%;
}

.customArrow::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid rgba(0, 0, 0, 0.5);
    top: 60%;
}

.form .mainData {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 20px;
    margin-top: 10px;
}

.form::-webkit-scrollbar {
    display: none;
}



.secondaryData {
    display: flex;
    gap: 2rem;
    margin-top: 10px;
}

.secondaryData > * {
    width: 50%;
}




/* LISTA DE NUEVOS PRODUCTOS */

.listaNuevosProductos {
    grid-area: products;
    overflow: scroll;
    top: 3.5rem;
    height: 35rem;
    margin-right: 1rem;
    background-color: #FFF;
    border-radius: 20px;
    margin-bottom: 0 !important;
}

.listaNuevosProductos::-webkit-scrollbar {
    display: none;
}

.btnAgregarLista {
    grid-area: btnLista;    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 12rem;
    height: 3rem;
    background-color: #f3c6f1;
}
.btnAgregarLista:hover{
    cursor: pointer;
    background-color: #f3a4ef;
}

.btnAgregarProducto:hover{
    cursor: pointer;
    background-color: #f3a4ef;
}


.btnAgregarProducto {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: btnProducto;
    width: 12rem;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    background-color: #f3c6f1;
}
    
