.CatalogoProductos {
    padding-top: 1.5rem;
    display: grid;
    height: 97%;
    width: 100%;
    grid-template-columns: auto;
}

.catalogo {
    position: relative;
    overflow: scroll;
}

@media screen and (max-width: 1276px) {
    .CatalogoProductos {
        width: 180%;
    }
}

