.notificationWrapper {
    position: fixed;
    right: 30px;
    top: 12px;
    width: 25%;
    background: transparent;
    z-index: 1;
    transition: all 300ms ease;
}

.notificationItem {
    display: grid;
    color: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0, 0.4);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    animation: SlideLeft 0.2s;
    animation-fill-mode: forwards;
}



.notificationItem.slideRight {
    animation: SlideRight 0.2s;
    animation-fill-mode: forwards;
}

@keyframes SlideLeft {
    0% {
        margin-left: 120%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes SlideRight {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 120%;
    }
}

.notificationItem span {
    padding: 0 10px;
}

.notificationItem .title{
    margin: 0;
    padding: 10px 10px;
}

.notificationItem .message {
    font-size: 12px;
    margin: 0;
    padding: 3px 10px;
}

.notificationItem .bar {
    height: 4px;
    background: #5DD1F0;
}

.notificationItem.error {
    background: #EA5F51;
}

.notificationItem.success {
    background: #4DD181;
}

.notificationItem.update {
    background: #FFF;
    color: #000;
}


