.notificationWrapper {
    position: fixed;
    right: 30px;
    top: 12px;
    width: 25%;
    background: transparent;
    z-index: 1001;
    transition: all 300ms ease;
}

.notificationItem {
    display: grid;
    grid-template-areas: 
    "title title title"
    "message message icono"
    "bar bar bar"
    ;
    color: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0, 0.4);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    animation: SlideLeft 0.2s;
    animation-fill-mode: forwards;
}



.notificationItem.slideRight {
    display: 'none';
}

@keyframes SlideLeft {
    0% {
        margin-left: 120%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes SlideRight {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 120%;
    }
}

.notificationItem span {
    grid-area: icono;
    padding: 0 10px;
}

.notificationItem .title{
    grid-area: title;
    margin: 0;
    padding: 10px 10px;
}

.notificationItem .message {
    grid-area: message;
    font-size: 12px;
    margin: 0;
    padding: 3px 10px;
}

.notificationItem .bar {
    grid-area: bar;
    height: 4px;
    background: #5DD1F0;
}

.notificationItem.error {
    background: #F94416;
}

.notificationItem.success {
    background: #41D888;
}

.notificationItem.warning {
    background: #FFBC00;
}

.notificationItem.update {
    background: #FFF;
    color: #000;
}


